! Dracula Xresources palette
#define fg #b6bdca
#define bg #101010

#define c00 #101010
#define c01 #e06c75
#define c02 #98c379
#define c03 #e5c07b
#define c04 #61afef
#define c05 #c678dd
#define c06 #56b6c2
#define c07 #abb2bf

#define c08 #3e4451
#define c09 #d19a66
#define c10 #98c379
#define c11 #e5c07b
#define c12 #61afef
#define c13 #c678dd
#define c14 #56b6c2
#define c15 #c8ccd4

#define accent #0000b0

*.foreground:   fg
*.background:   bg
*.cursorColor:  c13

*.color0:       c00
*.color1:       c01
*.color2:       c02
*.color3:       c03
*.color4:       c04
*.color5:       c05
*.color6:       c06
*.color7:       c07
  
*.color8:       c08
*.color9:       c09
*.color10:      c10
*.color11:      c11
*.color12:      c12
*.color13:      c13
*.color14:      c14
*.color15:      c15

Xcursor.theme:  Bibata-Modern-Ice
Xcursor.size:   24

st.font:        JetBrainsMono Nerd Font:size=13
st.borderpx:    10
st.alpha:       0.75

dmenu.foreground:           c04
dmenu.background:           c00
dmenu.selforeground:        c03
dmenu.selbackground:        accent
dmenu.bordercolor:          c04
dmenu.font:                 Aptos Medium:size=14

dwm.normfgcolor:            fg
dwm.normbgcolor:            c00
dwm.normbordercolor:        c08
dwm.normfloatcolor:         c08

dwm.selfgcolor:             c15
dwm.selbgcolor:             c00
dwm.selbordercolor:         c04
dwm.selfloatcolor:          c05

dwm.tagsnormfgcolor:        c08
dwm.tagsnormbgcolor:        c00
dwm.tagsnormbordercolor:    c08
dwm.tagsnormfloatcolor:     c08

dwm.tagsoccfgcolor:         c05
dwm.tagsoccbgcolor:         c00
dwm.tagsoccbordercolor:     c08
dwm.tagsoccfloatcolor:      c08

dwm.tagsselfgcolor:         c15
dwm.tagsselbgcolor:         c00
dwm.tagsselbordercolor:     c04
dwm.tagsselfloatcolor:      c05

dwm.titlenormfgcolor:       fg
dwm.titlenormbgcolor:       c00
dwm.titlenormbordercolor:   c00
dwm.titlenormfloatcolor:    c00

dwm.titleselfgcolor:        c15
dwm.titleselbgcolor:        c00
dwm.titleselbordercolor:    c00
dwm.titleselfloatcolor:     c00

dwm.scratchnormfgcolor:     fg
dwm.scratchnormbgcolor:     c00
dwm.scratchnormbordercolor: c08
dwm.scratchnormfloatcolor:  c08

dwm.scratchselfgcolor:      fg
dwm.scratchselbgcolor:      c00
dwm.scratchselbordercolor:  c02
dwm.scratchselfloatcolor:   c02

dwm.ltsymbolfgcolor:        c03
dwm.ltsymbolbgcolor:        c00
dwm.ltsymbolbordercolor:    c00
dwm.ltsymbolfloatcolor:     c00

dwm.stbuttonfgcolor:        c04
dwm.stbuttonbgcolor:        c00
dwm.stbuttonbordercolor:    c00
dwm.stbuttonfloatcolor:     c00


